{% extends "admin.html" %}
{% from "form_macros.html" import set_server_form, add_server_form as add_server_form_macro, load_context_document_msg %}

{% block title %} {{_('Add server')}} {% endblock %}

{% block content_right %}
    {{ load_context_document_msg() }}
    {{ set_server_form(form)}}
    {{ add_server_form_macro(add_server_form) }}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var authServer = {{ auth_server | safe}};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/admin_server.js') }}"></script>
{% endblock %}