{% extends "base_map.html" %}

{% block title %}{{ _('import raster edit') }}{% endblock %}

{% from "form_macros.html" import input, button %}

{% block content %}
<h2>{{_('wms sources')}}</h2>

<div class="row-fluid">
    <div class="span5">
        <h3> {{ _('WMS settings') }} </h3>
        <p> {{ _('infotext add wms') }} </p>
        <hr>
        <form method="POST" class="form-horizontal">
        {{ form.csrf_token }}
            <fieldset class="span5 offset1">
                {{ input(form.url) }}
                <button class="btn btn-small" id="getCapabilites">{{ _('load Capabilites') }}</button>
                <span class="alert hide" id="wms-capabilities-info"></span>
                <hr>
                {{ input(form.name) }}
                {{ input(form.title) }}
                {{ input(form.username) }}
                {{ input(form.password) }}
                <hr>
                <div class="control-group">
                    <label class="control-label" for="layers_select"><span>{{ _('layers_select') }}:</span></label>
                    <div class="controls">
                        <select id="layers_select" name="layers_select" multiple='true' disabled=disabled></select>
                    </div>
                </div>
                {{ input(form.layer) }}
                <hr>
                <div class="control-group">
                    <label class="control-label" for="srs_select"><span>{{ _('select srs') }}:</span></label>
                    <div class="controls">
                        <select id="srs_select" name="srs_select" disabled=disabled></select>
                    </div>
                </div>

                {{ input(form.srs) }}
                <hr>
                {{ input(form.version) }}
                {{ input(form.format) }}
                {{ input(form.llbbox) }}
            </fieldset>

            <fieldset class="span5 offset4">
                <button class="btn btn-small" id="mapPreview" disabled=disabled>{{ _('preview') }}</button>
                <button class="btn btn-small pull-right" type="submit">{{ _('save') }}</button>
            </fieldset>
            <div class="alert alert-error hide span10" id="wms-preview-info"></div>
        </form>
    </div>
    <div class="span7">
        <h3> {{ _('preview map') }} </h3>
        <p> {{ _('infotext preview map') }} </p>
        <div class="map hide" id='map' style="width: 500px; height: 500px;"></div>
    </div>
    <div id="askForOverwrite" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{_('Get capabilities')}} <span id="layer_title"></span>?</h3>
      </div>
      <div class="modal-body">
        <p>{{ _('infotext wms capabilities reset form') }}</p>
      </div>
      <div class="modal-footer">
        <a href="#" id="abort_load_capabilities" class="btn" data-dismiss="modal">{{_('abort')}}</a>
        <a href="#" id="load_capabilities" class="btn btn-primary">{{_('load capabilities')}}</a>
      </div>
    </div>
</div>
{% endblock %}

{% block map_js %}
    <script type="text/javascript">
        var loadCapabilitiesURL = '{{ url_for('raster.wms_capabilities') }}';
        var editMode = {{ edit_mode|tojson|safe }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/raster_wms.js') }}"></script>
{% endblock %}
