{% extends "base_map.html" %}

{% block title %}{{ _('import raster edit') }}{% endblock %}

{% from "form_macros.html" import input, button %}

{% block content %}
<h2>{{_('wms sources')}}</h2>

<div class="row-fluid">
    <div class="span5">
        <h3> {{ _('WMS settings') }} </h3>
        <p> {{ _('infotext add wms') }} </p>
        <hr>
        <form method="POST" class="form-horizontal">
        {{ form.csrf_token }}
            <fieldset class="span5 offset1">
                {{ input(form.url) }}
                <button class="btn btn-small" id="getCapabilites">{{ _('load Capabilites') }}</button>
                <span class="alert alert-error hide" id="wms-capabilities-info"></span>
                <hr>
                {{ input(form.name) }}
                {{ input(form.title) }}
                {{ input(form.username) }}
                {{ input(form.password) }}
                <hr>
                <div class="control-group">
                    <label class="control-label" for="layers_select"><span>{{ _('layers_select') }}:</span></label>
                    <div class="controls">
                        <select id="layers_select" name="layers_select" multiple='true'></select>
                    </div>
                </div>
                {{ input(form.layer) }}
                <hr>
                <div class="control-group">
                    <label class="control-label" for="srs_select"><span>{{ _('select srs') }}:</span></label>
                    <div class="controls">
                        <select id="srs_select" name="srs_select"></select>
                    </div>
                </div>

                {{ input(form.srs) }}
                <hr>
                {{ input(form.version) }}
                {{ input(form.format) }}
            </fieldset>

            <fieldset class="span5 offset4">
                <button class="btn btn-small" id="mapPreview">{{ _('preview') }}</button>
                <button class="btn btn-small pull-right" type="submit">{{ _('save') }}</button>
            </fieldset>
            <div class="alert alert-error hide span10" id="wms-preview-info"></div>
        </form>
    </div>
    <div class="span7">
        <h3> {{ _('preview map') }} </h3>
        <div class="map" id='map' style="width: 500px; height: 500px;"></div>
    </div>
</div>
{% endblock %}

{% block map_js %}
<script type="text/javascript">
    var activeLayer;
    var editor;
    var capa;
    $(document).ready(function() {
        editor = new OpenLayers.Map('map', {
            theme: OpenlayersThemeURL,
            controls: [
                new OpenLayers.Control.Navigation({
                documentDrag: true,
                dragPanOptions: {
                    interval: 1,
                    enableKinetic: true
                    }
                }),
                new OpenLayers.Control.PanZoomBar()
            ]
        });
        OpenLayers.ImgPath = OpenlayersImageURL || "../css/theme/default/img/";

        $("#layers_select").change(function() {
            $("#layer").val($(this).val());
        });

        $("#srs_select").change(function() {
            $("#srs").val($(this).val());
        });

        $("#getCapabilites").click(function() {
            var url = $("#url").val();
            if (url) {
                $.ajax({
                  type: 'GET',
                  async: true,
                  url: '{{ url_for('raster.wms_capabilities') }}',
                  data: { url: url },
                  success: function(response) {
                     $("#wms-capabilities-info").empty();
                    if (response.data.error) {
                        $("#wms-capabilities-info").html(response.data.error).show().fadeOut(4000)
                        return false;
                    } else {
                        $("#wms-capabilities-info").html(OpenLayers.i18n('load wms capabilities')).show().fadeOut(4000);
                    }

                    // Input values
                    $("#title").val(response.data.title)
                    $("#name").val(response.data.name);

                    // Layers
                    $('#layers_select').empty();
                    $.each(response.data.layer.layers, function(key, value) {
                        $('#layers_select').append('<option value="'+ value['name'] +'">'+ value['name'] +'</option>');
                    });
                    // SRS
                    $('#srs_select').empty();
                    $.each(response.data.layer.srs, function(key, value) {
                        var hasBBOX = false;
                        if (response.data.layer.bbox[value]) {
                            hasBBOX = true;
                        }
                        var option;
                        if (hasBBOX) {
                            option = '<option value="'+ value +'">**'+ value +'**</option>';
                        } else {
                            option = '<option value="'+ value +'">'+ value +'</option>';
                        }
                        $('#srs_select').append(option);
                    });
                    $("#srs").val( $('#srs_select').val());
                    capa = response.data

                  }
                });
            }
            return false;
        });

        $("#mapPreview").click(function() {
            var url = $("#url").val()
            var title = $("#title").val();
            var layers = $("#layer").val();
            var srs = $("#srs").val();
            var format = $("#format").val();

            if (activeLayer) {
                editor.removeLayer(activeLayer)
            }

            var bboxArray = capa.layer.bbox
            bbox = bboxArray[srs]
            $("#wms-preview-info").empty().hide();
            if (bbox && layers) {
                editor.maxExtent = new OpenLayers.Bounds(bbox[0], bbox[1], bbox[2], bbox[3])
            } else {
                $("#wms-preview-info").html(OpenLayers.i18n('preview not possible')).show().fadeOut(5000);
                return false;
            }

            var projection = new OpenLayers.Projection(srs);
            editor.projection = projection;

            activeLayer = new OpenLayers.Layer.WMS( title,
                url, {
                    layers: layers,
                    srs : srs
                },
                {
                    singleTile: true,
                    ratio: 1.0
                }
            );

            editor.addLayer(activeLayer)

            editor.zoomToMaxExtent();
            return false;
        });


    });

</script>
{% endblock %}
