{% extends "base.html" %}

{% block title %}{{ _('unlock source') }}{% endblock %}

{% from "form_macros.html" import input, button %}

{% block content %}
<h2>{{_('unlock sources')}}</h2>

<div class="row-fluid">
    <h3>{{ source.title }} – {{ source.name }}</h3>
    <form method="POST" class="form-horizontal">
     {{ form.csrf_token }}
        <fieldset class="span5 offset1">
            {{ input(form.username) }}
            {{ input(form.password) }}
        </fieldset>

        <fieldset class="span9 pagination-centered">
            {{ button(_('save'), True) }}
        </fieldset>
    </form>
</div>
{% endblock %}
