{% extends "base.html" %}

{% block title %}{{ _('import raster edit') }}{% endblock %}

{% from "form_macros.html" import input, button, textarea %}

{% block content %}
<h2>{{_('wmts sources')}}</h2>

<div class="row-fluid">
    <form method="POST" class="form-horizontal">
    {{ form.csrf_token }}
        <fieldset class="span8 offset1">
            {{ input(form.name) }}
            {{ input(form.title) }}
            {{ input(form.url) }}
            {{ input(form.layer) }}
            {{ input(form.format) }}
            {{ textarea(form.llbbox, rows=6, cols=6, class='span4') }}
            {{ input(form.username) }}
            {{ input(form.password) }}
        </fieldset>
        <fieldset class="span9 pagination-centered">
            {{ button(_('save'), True) }}
        </fieldset>
    </form>
</div>
{% endblock %}
