{% extends "base.html" %}

{% block title %}{{ _('set gbi server') }}{% endblock %}

{% from "form_macros.html" import input %}


{% block content %}

<h1>{{_('set gbi server')}}</h1>

<div id="load-context-document" class="alert hide">
  <img src="{{ url_for('static', filename='img/loader.gif')}}">
  <span>{{_('context document will be loaded and boxes are copied')}}</span>
</div>

<form id="set-server-form" method="POST" class="form-horizontal">

  <div class="control-group">
      {{ form.csrf_token }}
      {{ input(form.url, style="width: 30em") }}
      {{ input(form.username) }}
      {{ input(form.password) }}
  </div>
  <div class="no-auth-required">{{ _('no auth required') }}</div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-small">{{ _('set') }}</button>
     </div>
  </div>
</form>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    var authServer = {{ auth_server | safe}};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/set_server.js') }}"></script>
{% endblock %}
