{% extends "admin.html" %}

{% from "form_macros.html" import input %}

{% block title %} {{_('GML import')}} {% endblock %}

{% block content_right %}
<h4>{{ _('GML import') }}</h4>
<p>{{ _('upload gml text') }}</p>
<b>{{ _('upload gml attention', auth_layer_title=app_state.config.get('web', 'authorization_layer_title')) }}</b>
<form id="upload_form" method="POST" enctype="multipart/form-data" class="form-horizontal">
    {{ form.csrf_token }}
    {{ input(form.upload_file) }}
    {{ input(form.srs) }}
    <button type="submit" class="btn btn-small" id="save_btn">{{ _('upload') }}</button>
</form>
{% endblock %}

{% block javascript %}

{% endblock %}