{% extends "base.html" %}

{% block title %}{{ _('task overview') }}{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="5;">
{% endblock %}

{% from "form_macros.html" import select %}
{% macro post_link(text, endpoint) -%}
    <form action="{{ url_for(endpoint, **kwargs) }}">
        <button type="submit" class="btn btn-small">{{ text }}</button>
    </form>
{%- endmacro %}


{% macro task_item(task) -%}

  <div class="task_item" data-running="{{ task.is_running }}" data-active="{{ task.is_active }}"
    data-paused="{{ task.is_paused }}" data-status="{{ task.status }}">
    <div class="span1 inline">
        <span class="task_header">ID: {{task.id}}</span>
    </div>
    <div class="span3 inline">
        <span class="task_header">{{ _('updated') }}: </span>
        {{ task.time_updated.strftime('%H:%M %d.%m.%Y') }}</div>
    <div class="span2 inline">
        <span class="task_header">{{ _('status') }}</span>:
        {{ task.status }}
     </div>
    <div class="span3 inline">
        <span class="task_header">{{ _('progress') }}: </span>
        {% if task.progress %}
          {{ task.progress|round(4, 'common') *100 }}
        {% else %}
         0
        {% endif %}
         %
         {{ generate_tooltip(_('tooltip - task the page reload every 5 second') ) }}
    </div>
    <div class="span2 inline">
        <span class="task_header">{{ _('type') }}</span>:
        {{ task.task_type }}</div>
    <div class="controls span4 inline">
      <button class="btn btn-small pause" data-task_pause_url="{{ url_for('tasks.pause', id=task.id) }}">
         {{ _('pause') }}
      </button>
      <button class="btn btn-small start" data-task_start_url="{{ url_for('tasks.start', id=task.id) }}">
         {{ _('continue') }}
      </button>
      <button class="btn btn-small remove" data-task_remove_url="{{ url_for('tasks.remove', id=task.id) }}">
        {{ _('remove') }}
      </button>
    </div>
  </div>
{%- endmacro %}

{% macro project_item(project) -%}
    <tr class="project_overview">
      <td>{{ project.title }}</td>
      <td>
        {% if project.in_progress() %}
          {{ _('running') }}
        {% else %}
          {{ _('not running') }}
        {% endif %}
      </td>
      <td>{{ project.time_created.strftime('%H:%M, %d.%m.%Y') }}</td>
    </tr>
    {% if project.tasks %}
    <tr>
      <td colspan="5">
        {% for task in project.tasks %}
          {{ task_item(task) }}
         {% endfor %}
       </td>
    </tr>
    {% endif %}
{%- endmacro %}


{% block content %}
<h1>{{_('tasks')}}</h1>
<table class="table task-overview table-striped">
    <thead>
      <tr>
        <th class="span3">{{ _('title') }}</th>
        <th class="span3">{{ _('status') }}</th>
        <th class="span3">{{ _('date created') }}</th>
      </tr>
    </thead>
    <tbody>
        {% for project in projects %}
          {{ project_item(project) }}
        {% endfor %}

        {% if tasks %}
        <tr>
          <td colspan="4">{{_('tasks without project')}}</td>
        </tr>
        <tr>
            <td colspan="5">
            {% for task in tasks %}
              {{ task_item(task) }}
            {% endfor %}
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/task_list.js') }}"></script>
{% endblock %}