{% from "macros.html" import generate_tooltip %}


{% macro map_tools(coverage_form) -%}
    <div class="more_map_tools">
      <h5>{{ _('drawing options') }}
       {{ generate_tooltip(_('tooltip - drawing options') ) }}
       </h5>
        <div id="toolbar" class="map_tools tool"></div>
        <div class="tool">
           <button id="delete_all_features" class="btn btn-small">
            {{ _('delete all features') }}</button>
        </div>
        <div class="tool">
            {{ coverage_form.select_coverage.label }}
            {{ coverage_form.select_coverage }}
            <button id="load_coverage" class="btn btn-small">
             {{ _('load coverage') }}</button>
             <hr>
            <button id="load_couchdb_coverage" class="btn btn-small">
             {{ _('load vectorimports as coverage') }}</button>
        </div>
    </div>

{%- endmacro %}

{% macro download_volume(free_disk_space, export=False) -%}
    <script type="text/javascript">
        var get_data_volume_url = "{{ url_for('.data_volume', export=export) }}";
    </script>
    <h3>{{ _('Information') }}
        {{ generate_tooltip(_('tooltip - information about data volumen') ) }}
    </h3>
    <p>{{ _('Data volume') }}: <span id="data_volume">0</span> {{ _('MB') }}</p>
    <p>{{ _('free disk space') }}: {{ free_disk_space }} {{ _('MB') }}</p>
{%- endmacro %}