{% extends "base.html" %}

{% block title %}{{ _('verify authentification') }}{% endblock %}

{% from "form_macros.html" import input %}

{% block content %}

<h4>{{_('verify authentification')}}</h4>
<p>{{ _('authentification for raster import required', server=server_title) }}</p>
<form method="POST" class="form-horizontal">
    <div class="control-group">
        {{ form.csrf_token }}
        {{ input(form.username) }}
        {{ input(form.password) }}
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-small">{{ _('authorize') }}</button>
        </div>
    </div>
</form>

{% endblock %}
