{% extends "base.html" %}
{% from "form_macros.html" import input, gbi_server_form %}

{% block title %} {{_('settings')}} {% endblock %}

{% block content %}
    <div class="row">
        <div class="span3">
            {% block content_left %}
                {% if app_state.home_server is not none %}
                <h5>{{ _('GML') }}</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if url_for('admin.upload_gml') == request.path %}active{% endif%}">
                        <a href="{{ url_for('admin.upload_gml') }}">
                            {{ _('upload authorization box') }}
                        </a>
                    </li>
                </ul>
                {% endif %}

                <h5>{{ _('Server') }}</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if url_for('admin.set_server') == request.path %}active{% endif%}">
                        <a href="{{ url_for('admin.set_server') }}">
                            {{ _('set server') }}
                        </a>
                    </li>
                    <li class="{% if url_for('admin.add_server') == request.path %}active{% endif%}">
                        <a href="{{ url_for('admin.add_server') }}">
                            {{ _('add server') }}
                        </a>
                    </li>
                </ul>
                <h5>{{ _('Logs') }}</h5>
                <ul class="nav nav-pills nav-stacked">

                    <li class="{% if url_for('admin.log_view') == request.path %}active{% endif%}">
                        <a href="{{ url_for('admin.log_view') }}">
                            {{ _('Logs') }}
                        </a>
                    </li>
                </ul>

                <h5>{{ _('Files') }}</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if url_for('admin.files') == request.path %}active{% endif%}">
                        <a href="{{ url_for('admin.files') }}">
                            {{ _('Files') }}
                        </a>
                    </li>
                </ul>

                <h5>{{ _('Network') }}</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if url_for('admin.network') == request.path %}active{% endif%}">
                        <a href="{{ url_for('admin.network', refresh=True) }}">
                            {{ _('Network') }}
                        </a>
                    </li>
                </ul>
            {% endblock %}
        </div>
        <div class="span9">
            {% block content_right %}{% endblock %}
        </div>
    </div>
    <hr>
    <div style="color: #aaa; font-size: smaller; text-align: right;">
        {{ _('GeoBox Version')}}: {{ geobox_client_version }}
    </div>
{% endblock %}
