{% extends "base.html" %}

{% from "macros.html" import generate_base_layer, generate_sources %}
{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/OpenLayers-2.12.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/OpenLayers-Control-ZoomStatus.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/style.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/project_map.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/gbi-editor/gbi.js') }}">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/project_utils.js') }}"></script>
	{% block map_js %}

	{% endblock %}
{% endblock %}