{% extends "base.html" %}

{% from "macros.html" import generate_base_layer, generate_sources, generate_couch_layers %}

{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/OpenLayers-2.12.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/OpenLayers-Control-ZoomStatus.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('main.javascript_translation') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/style.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/gbi-editor/gbi.js') }}">
    </script>
    <script type="text/javascript">
          OpenLayers.ProxyHost = "{{ url_for('proxy.proxy_request') }}";
    </script>
    {% block project_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/layermanager.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/views/project_map.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/project_utils.js') }}"></script>
    {% endblock %}

    {% block map_js %}

    {% endblock %}
{% endblock %}