{% from "macros.html" import generate_tooltip %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>GeoBox {% block title %} {% endblock %}</title>

  {% block head %}{% endblock %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/openlayers.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toolbar.css') }}">
  <link rel='stylesheet' href="{{ url_for('static', filename='css/jquery.minicolors.css') }}">
  <link rel='stylesheet' href="{{ url_for('static', filename='css/nouislider.fox.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">GeoBox</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
            <li><a class="nav" href="/">{{ _('home') }}</a></li>
        </ul>
        <ul class="nav">
          {% if not session.get('username', False) %}
            <li><a class="nav" href="{{ url_for('user_view.login') }}">{{ _('login') }}</a></li>
          {% else %}
            <li><a class="nav" href="{{ url_for('user_view.logout') }}">{{ _('logout') }}</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {{ css_alert_category(category) }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
      </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}
  <hr>

  <footer class="footer">
    <div class="container">
        <p class="pull-right">Copyright by
          <a href='http://omniscale.de' target="_blank">Omniscale</a></p>
      </div>
  </footer>
</div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/json2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-1.9.1.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/micro.templating.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
  <script type="text/javascript">
      {% if with_server %}
          var OpenlayersCouchURL = "http://{{ app_state.config.get('app', 'hostname') }}:{{ app_state.config.get('couchdb', 'port') }}/";
      {% else %}
          var OpenlayersCouchURL = "/";
      {% endif %}
      var OpenlayersThemeURL = "{{ url_for('static', filename='css/openlayers.css') }}";
      var OpenlayersImageURL = "{{ url_for('static', filename='img/') }}";
  </script>
 {% block javascript %}
 {% endblock %}
</body>
</html>

