{% extends "base_map.html" %}
{% from "form_macros.html" import select, input %}

{% block title %}{{ _('editor') }}{% endblock %}

{% block head %}
  <!-- alpaca css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/alpaca.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/alpaca-bootstrap.min.css') }}">
{% endblock %}

{% block project_js %}
  <!-- JSTS for split and union -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/javascript.util.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/jsts.js') }}"></script>

  <!-- Proj4 for transformation -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/proj4js-compressed.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/proj4js.defs.js') }}"></script>

  <!-- slider and colorpicker for styleeditor -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/jquery.nouislider.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/jquery.minicolor.js') }}"></script>

  <!-- jquery ui custom for sortable in featureattributelistconfigurator -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/jquery-ui-1.10.3.custom.min.js') }}"></script>

  <!-- alpaca -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/alpaca-full.min.js') }}"></script>

  {% if not with_server %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/seedjs/seed.min.js') }}"></script>
  {% endif %}

  <!-- widgets -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/layermanager.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/measure.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/attribute.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/styleeditor.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/pointstyleeditor.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/filter.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/thematicalvector.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/thematicalvectorconfigurator.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/thematicalvectorlegend.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/thematicalvectorattributelist.js') }}"></script>
  {% if not with_server %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/seeding.js') }}"></script>
  {% endif %}

{% endblock %}

{% block map_js %}

   <script type="text/javascript">
    {% if with_server %}
      OpenLayers.ProxyHost = "{{ url_for('proxy.proxy_request') }}";
      var exportODSURL = "{{ url_for('.export_list', export_type='ods') }}";
      var exportCSVURL = "{{ url_for('.export_list', export_type='csv') }}";
      {{ generate_base_layer(base_layer) }}

      {% if wfs_search_sources %}
        {{ generate_wfs_searchlayers(wfs_search_sources) }}
      {% endif %}

      {% if preview_layername and preview_features %}
        {{ generate_temp_vectorlayer(preview_layername, preview_features)}}
      {% endif %}
      var offline = false;
    {% else %}
      var offline = true;
    {% endif %}
   </script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/views/editor.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row-fluid" style="text-align: bottom;">

  <div class="span4">
    <h1>{{_('editor')}}
      {{ generate_tooltip(_('tooltip - editor') ) }}
    </h1>
  </div>
  <div class="span4 text-center" id="editor-save-container">
    <div class="pull-right">
      <span><strong>{{ _('Current changes') }}:</strong></span>
      <div class="btn-group">
        <button class="btn btn-small save-changes-btn" disabled="disabled">{{ _('save') }}</button>
        <button class="btn btn-small discard-changes-btn" disabled="disabled">{{ _('discard') }}</button>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span8 map" id='map'>
    <div id="measure-result-container" class="label hide">{{ _('Area') }}: <span id="measure-result">0</span> ha</div>
  </div>
  <div class="span4">
    <div class="bs-docs-example">
      <ul id="tabs" class="nav nav-tabs">
        <li class="active">
          <a href="#layermanager" data-toggle="tab">{{ _('map layer') }}</a>
        </li>
        <li>
          <a id="layer-tab" href="#layer" data-toggle="tab">{{ _('look') }}</a>
        </li>
        <li>
          <a id="edit-tab" href="#edit" data-toggle="tab">{{ _('edit') }}</a>
        </li>
        <li>
          <a id="filter-tab" href="#filter" data-toggle="tab">{{ _('filter') }}</a>
        </li>
        <li>
          <a id="measure-tab" href="#measure" data-toggle="tab">{{ _('measure') }}</a>
        </li>
        {% if with_server %}
        <li>
          <a id="search-tab" href="#search" data-toggle="tab">{{ _('search') }}</a>
        </li>
        {% else %}
        <li>
          <a id="seeding-tab" href="#seeding" data-toggle="tab">{{ _('offline seeding') }}</a>
        </li>
        {% endif %}
        <li>
          <a id="thematical-tab" href="#thematical" data-toggle="tab">{{ _('thematical map') }}</a>
        </li>
        <li>
          <a id="save-tab" href="#save" data-toggle="tab">{{ _('documents') }}</a>
        </li>
      </ul>
      <div class="tab-content">
        <!-- load layermanager widget -->
        <div class="tab-pane fade in active" id="layermanager"></div>

        <div class="tab-pane fade" id="layer">
          <h4>{{ _('Styling') }}</h4>
          <p>{{ _('infotext - edit styling') }}</p>
          <div id="style-editor"></div>
        </div>

        <div class="tab-pane fade" id="edit">
          <h4>{{ _('Edit') }}</h4>
          <p>{{ _('infotext - edit controls') }}</p>
          <div id="disable-overlay" class="hide"></div>
          <div id="edit-toolbar-container">
            <div id="edit-toolbar" class="span12"></div>
            <button id="select_all_features" class="btn btn-small">{{ _('select all features') }}</button>
          </div>
          <hr>
          <h4>{{ _('Attributes') }} {{ generate_tooltip(_('infotext - attributes') ) }}</h4>

          <div id="edit-toolbar-mode">
            <button id="activate_attribute_edit_mode" class="btn btn-small" disabled="disabled" title="{{ _('tooltip - edit attributes') }}">{{ _('edit attributes') }}</button>
          </div>
          <div id="attribute-edit-mode" class="hide">
            <button id="save_btn" class="btn btn-small btn-success">{{ _('apply') }}</button>
            <button id="cancel_btn" class="btn btn-small btn-danger">{{ _('discard') }}</button>
          </div>
          <div id="attributemanager"></div>
          <hr>
          <div id="json-schema-container">
            <h4>{{ _('JSON Schema') }} {{ generate_tooltip(_('tooltip - json schema')) }}</h4>

            <input id="json_schema_url" name="json_schema_url" type="text" />
            <button class="btn btn-small" id="add_json_schema_url" type="button">{{ _('Add JSONSchema URL')}}</button>
            <button class="btn btn-small hide" id="refresh_json_schema" title="{{ _('Refresh') }}"><i class="icon-refresh"></i></button>
            <button class="btn btn-small hide" id="remove_json_schema" title="{{ _('Remove') }}"><i class="icon-remove"></i></button>
            <div class="alert alert-success" style="display: none" id="json_schema_loaded">{{ _('Successful loaded') }}</div>
            <div class="alert alert-error" style="display: none" id="json_schema_load_fail">{{ _('Loading schema failed') }}</div>
            <div class="alert alert-success" style="display: none" id="json_schema_refreshed">{{ _('Successful refreshed') }}</div>
            <div class="alert alert-error" style="display: none" id="json_schema_refresh_fail">{{ _('Refreshing schema failed') }}</div>
          </div>
        </div>

        <div class="tab-pane fade" id="filter">
          <h4>{{ _('filter') }}</h4>
          <p>{{ _('infotext - filter controls') }}</p>
          <div id="filtermanager"></div>
        </div>

        <div class="tab-pane fade" id="measure">
          <h4>{{ _('Measure') }}</h4>
          <p>{{ _('infotext - measure controls') }}</p>
          <!--  load measure widget -->
          <div id="measure-toolbar"></div>
          <div id="measure-output"></div>
        </div>

         {% if with_server %}
         <div class="tab-pane fade" id="search">
          <h4>{{ _('search') }}</h4>
          {% if wfs_search_sources %}
            <p>{{ _('infotext - search controls') }}</p>
            {{ input(wfs_search_form.wfs_layers) }}
            {{ input(wfs_search_form.search_value) }}
            <div id="no_features_found" class="alert alert-error" style="display: none">{{ _('No features found') }}</div>
            <div id="wfsSearchInProgress" class="alert hide">
              <img src="{{ url_for('static', filename='img/loader.gif')}}">
              <span>{{_('search request is being processed')}}</span>
            </div>
            <button class="btn btn-small" id="start_search">{{_('search')}}</button>
            <button class="btn btn-small" id="remove_search" disabled=disabled>{{_('remove search')}}</button>
            <button class="btn btn-small" id="hide_searchlayer" disabled=disabled>{{_('hide searchlayer')}}</button>
          {% else %}
            <p>{{ _('infotext - no wfs search') }}</p>
          {% endif %}
        </div>
        {% endif %}

        <div class="tab-pane fade" id="thematical">
          <h4>{{ _('thematical map') }}</h4>
          <p>{{ _('infotext - thematical map') }}</p>
          <div id="thematical-vector"></div>
        </div>

        <div class="tab-pane fade" id="save">
          <h4>{{ _('save changes') }}</h4>
          <p>{{ _('infotext - editor save') }}</p>
          <hr>
          <h5>{{ _('save') }}</h5>
          <button class="btn btn-small save-changes-btn" disabled="disabled">{{ _('save') }}</button>
          <button class="btn btn-small discard-changes-btn" disabled="disabled">{{ _('discard') }}</button>
          <hr>
          <h5>{{ _('save as') }}</h5>
          <div class="input-append">
            <input class="span5" id="save-as-name" name="save-as-name" type="text">
            <button class="btn" id="save-as" type="button">{{ _('save as') }}</button>
          </div>
          <div class="alert alert-error hide" id="save_as_error">{{ _('No active layer or invalid layer name') }}</div>
          <div class="alert alert-success hide" id="save_as_success">{{ _('Layer saved as') }} "<span id='new_layer_name'></span>"</div>
          {% if with_server %}
          <hr>
          <h5>{{ _('Export') }}</h5>
          <button id="export_vectorlayer" class="btn btn-small">
            <i class="icon-edit"></i> {{ _('Export layer') }}
          </button>
          <button id="export_selected_geometries" class="btn btn-small" disabled="disabled">
            <i class="icon-edit"></i> {{ _('Export selected geometries') }}
          </button><br>
          <div class="alert alert-error hide" id="export_error">{{ _('No active layer') }}</div>
          <div class="alert alert-error hide" id="export_failed">{{ _('Failed to export selected geometries') }}</div>
          <div class="alert alert-success hide" id="export_success">{{ _('Selected geometries exported') }}</div>
          {% endif %}
          <hr>
          <h4>{{ _('savepoints') }}</h4>
          <h5>{{ _('create savepoint') }}</h5>
          <button class="btn btn-small" id="create-savepoint" type="button">{{ _('create new savepoint') }}</button>
          <div class="alert alert-error hide" id="savepoint_error">{{ _('No active layer') }}</div>
          <span id="save-msg-success" class="span11 alert alert-success hide">{{_('save point created')}}</span>
          <span id="save-msg-error" class="span11 alert alert-error hide">{{_('error - could not create savepoint')}}</span>
          <div id="show-savepoints" class="hide">
            <h5>{{ _('load savepoint') }}</h5>
            <select id="select-savepoints" class="span6"></select>
            <div class="input-append">
              <button id="load-savepoint-modal" class="btn btn-small">{{ _('load') }}</button>
              <button id="delete-savepoint-modal" class="btn btn-small">{{ _('delete') }}</button>
            </div>
          </div>
        </div>
        {% if not with_server %}
        <div class="tab-pane fade" id="seeding">
          <h4>{{ _('offline seeding')}}</h4>
          <p>{{ _('infotext - offline seeding') }}</p>
          <hr>
          <div id='seeding-widget'></div>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- modal for load savepoint -->
    <div id="loadSavepointModal" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{_('Sure you want load savepoint')}}?</h3>
      </div>
      <div class="modal-body">
        <p>{{ _('infotext load savepoint') }}</p>
      </div>
      <div class="modal-footer">
        <a href="#" id="abort_load_savepoint" class="btn" data-dismiss="modal">{{_('abort')}}</a>
        <a href="#" id="load-savepoint" class="btn btn-primary">{{_('yes load')}}</a>
      </div>
    </div>

    <!-- modal for delete savepoint -->
    <div id="deleteSavepointModal" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{_('Sure you want remove savepoint')}}?</h3>
      </div>
      <div class="modal-body">
        <p>{{ _('infotext remove savepoint') }}</p>
      </div>
      <div class="modal-footer">
        <a href="#" id="abort_remove_savepoint" class="btn" data-dismiss="modal">{{_('abort')}}</a>
        <a href="#" id="delete-savepoint" class="btn btn-primary">{{_('yes delete')}}</a>
      </div>
    </div>

    <!-- modal for change layer -->
    <div id="changeVectorLayer" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{_('Sure you want change layer')}}?</h3>
      </div>
      <div class="modal-body">
        <p>{{ _('infotext change layer') }}</p>
      </div>
      <div class="modal-footer">
        <a href="#" id="abort_change_layer" class="btn" data-dismiss="modal">{{_('abort')}}</a>
        <a href="#" id="change_layer_discard" class="btn btn-primary">{{_('yes change and discard')}}</a>
        <a href="#" id="change_layer_save" class="btn btn-primary">{{_('yes change and save')}}</a>
      </div>
    </div>

    <!-- modal for delete -->
    <div id="deleteVectorLayer" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{_('Sure you want delete layer')}} <span id="layer_title"></span>?</h3>
      </div>
      <div class="modal-body">
        <p>{{ _('infotext delete layer') }}</p>
      </div>
      <div class="modal-footer">
        <a href="#" id="abort_remove_layer" class="btn" data-dismiss="modal">{{_('abort')}}</a>
        <a href="#" id="remove_layer" class="btn btn-primary">{{_('yes delete')}}</a>
      </div>
    </div>

    {% if with_server %}
    <!-- modal for export -->
    <div id="exportVectorLayer" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{_('export vector layer')}} </h3>
      </div>
      <form action="{{ url_for('vector.export_vector')}}" method="POST">
        <div class="modal-body">
          <p>{{ _('infotext export layer') }}</p>
          {{ export_form.name }}
          {{ export_form.geojson }}
          {{ input(export_form.filename) }}
          {{ select(export_form.export_type) }}
          {{ select(export_form.srs) }}
          {{ select(export_form.destination) }}
          {{ input(export_form.odata_url) }}
          <p id="odata_help_text">{{ _('infotext - odata export') }}</p>
        </div>
        <div class="modal-footer">
          <a href="#" id="abort_export_layer" class="btn" data-dismiss="modal">{{_('abort')}}</a>
          <button class="btn btn-primary" type="submit">{{_('export')}}</button>
        </div>
      </form>
    </div>

    <!-- modal for selected geometries export -->
    <div id="exportSelectedGeometries" class="modal hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{_('export selected geometries')}} </h3>
      </div>
      <form action="{{ url_for('vector.export_selected_geometries')}}" method="POST">
        <div class="modal-body">
          <p>{{ _('infotext export selected geometries') }}</p>
          {{ export_form.name }}
          {{ export_form.geojson }}
          {{ input(export_form.filename) }}
        </div>
        <div class="modal-footer">
          <a href="#" id="abort_export_layer" class="btn" data-dismiss="modal">{{_('abort')}}</a>
          <button class="btn btn-primary" type="submit">{{_('export')}}</button>
        </div>
      </form>
    </div>
    {% endif %}


  </div>
</div>

{% endblock %}
