{% extends "base_map.html" %}
{% block title %}{{ _('editor') }}{% endblock %}

{% block project_js %}
  <!-- JSTS for split and union -->
   <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/javascript.util.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/jsts.js') }}"></script>

  <!-- Proj4 for transformation -->
   <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/proj4js-compressed.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/proj4js.defs.js') }}"></script>

  <!-- slider and colorpicker for styleeditor -->
   <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/jquery.nouislider.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/lib/widgets/jquery.minicolor.js') }}"></script>

  <!-- widgets -->
   <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/layermanager.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/measure.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/attribute.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/styleeditor.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/filter.js') }}"></script>

{% endblock %}

{% block map_js %}

    <script type="text/javascript">
      OpenLayers.ProxyHost = "{{ url_for('proxy.proxy_request') }}";

      {{ generate_base_layer(base_layer) }}
      {{ generate_sources(sources, cache_url, False)}}

      {{ generate_couch_layers(couch_layers)}}

      $('#tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })

  </script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/views/editor.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <h1>{{_('editor')}}
      {{ generate_tooltip(_('tooltip - editor') ) }}
    </h1>

    <div class="span8 map" id='map'></div>
    <div class="span4">
       <div class="bs-docs-example">
          <ul id="tabs" class="nav nav-tabs">
              <li class="active">
                <a href="#layermanager" data-toggle="tab">{{ _('manager') }}</a>
              </li>
              <li>
                <a href="#layer" data-toggle="tab">{{ _('layer') }}</a>
              </li>
              <li>
                <a href="#edit" data-toggle="tab">{{ _('edit') }}</a>
              </li>
              <li>
                <a href="#filter" data-toggle="tab">{{ _('filter') }}</a>
              </li>
              <li>
                <a href="#measure" data-toggle="tab">{{ _('measure') }}</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="layermanager">
                <!-- load layermanager widget -->
              </div>
              <div class="tab-pane fade" id="layer">
                <div>
                  <h4>{{ _('Styling') }}</h4>
                  <p>{{ _('infotext - edit styling') }}</p>
                  <div id="style-editor"></div>
                </div>
              </div>

              <div class="tab-pane fade" id="edit">
                <div>
                 <h4>{{ _('Edit') }}</h4>
                 <p>{{ _('infotext - edit controls') }}</p>
                 <div id="edit-toolbar" class="span11"></div>
               </div>

               <div>
                 <h4>{{ _('Attributes') }}</h4>
                 <p>{{ _('infotext - attributes') }}</p>
                 <div id="attributemanager"></div>
                 <hr>
                 <button id="save" class="btn btn-small" disabled="disabled">{{ _('save') }}</button>
                </div>
              </div>

                <div class="tab-pane fade" id="filter">
                <h4>{{ _('filter') }}</h4>
                <p>{{ _('infotext - filter controls') }}</p>
                <div id="filtermanager"></div>
              </div>

              <div class="tab-pane fade" id="measure">
                <h4>{{ _('Measure') }}</h4>
                <p>{{ _('infotext - measure controls') }}</p>
                <div id="measure-toolbar">
                  <!--  load measure widget -->
                </div>
                <div id="measure-output">
                </div>
              </div>

            </div>
          </div>
    </div>

</div>

{% endblock %}
