{% from "macros.html" import generate_tooltip %}

{% macro render_errors(field) %}
{% if field.errors %}
<ul class="errors">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro input(field, tooltip=False) -%}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="{{ field.id }}"><span>{{ field.label.text }}{%- if field.flags.required -%}*{%- endif %} :</span></label>
    <div class="controls">
        {{ field(**kwargs)|safe }} {{ render_errors(field) }}
        {%- if tooltip -%}
            {{ generate_tooltip(tooltip) }}
        {%- endif -%}
    </div>
</div>
{%- endmacro %}

{% macro select(field) -%}
	{{ field.label }} {{ field }} {{ render_errors(field) }}
{%- endmacro %}

{% macro select_with_help(field) -%}
    {{ field.label }}
    <select id="{{ field.id }}" name="{{ field.name }}">
        {% for option in field.choices %}
            {% if option|length == 3 %}
                <option value="{{ option[0] }}" title="{{ option[2] }}">{{ option[1] }}</option>
            {% else %}
                <option value="{{ option[0] }}">{{ option[1] }}</option>
            {% endif %}
        {% endfor %}
    </select>
    {{ render_errors(field) }}
{%- endmacro %}

{% macro checkbox(field) -%}
	{{ field() }} {{ field.label(class='checkbox checkbox_label') }} {{ render_errors(field) }}
{%- endmacro %}

{% macro button(text, submit=False, id=False, btn_class=None) -%}
<div class="control-group">
    <div class="controls">
        <button {% if id %} id="{{id}}"{% endif %} {% if submit %}type="submit"{% endif %} class="btn btn-small{% if btn_class %} btn-{{btn_class}}{% endif %}">{{ text }}</button>
    </div>
</div>
{%- endmacro %}

{%- macro textarea(field, value='', rows=7, cols=40, class='') -%}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="{{ field.id }}"><span>{{ field.label.text|safe }}{%- if field.flags.required -%}*{%- endif %} :</span></label>
    <div class="controls">
        {{ field(value=value, rows=rows, cols=cols, class=class) }} {{ render_errors(field) }}
    </div>
</div>
{%- endmacro %}


{% macro load_context_document_msg() -%}
<div id="load-context-document" class="alert hide">
    <img src="{{ url_for('static', filename='img/loader.gif')}}">
    <span>{{_('context document will be loaded and boxes are copied')}}</span>
</div>
{%- endmacro %}

{% macro set_server_form(form) -%}
    <div class="row">
        <div class="span8">
            <h4>{{_('set gbi server')}}</h4>
            {% if with_msg %}
                {{ load_document_msg() }}
            {% endif %}
            <form id="set-server-form" name="set-server-form" method="POST" class="form-horizontal " action="{{ url_for('admin.set_server') }}">
                {{ form.csrf_token }}
                {{ input(form.url, style="width: 30em") }}
                {{ input(form.username) }}
                {{ input(form.password) }}
                {{ form.next }}
                <div class="no-auth-required alert alert-info text-center">{{ _('no auth required') }}</div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-small">{{ _('set') }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{%- endmacro %}

{% macro add_server_form(form) -%}
    <div class="row">
        <div class="span8">
            <h4>{{ _('Add server') }}</h4>
            {% if with_msg %}
                {{ load_document_msg() }}
            {% endif %}
            <form id="add-server-form" name="add-server-form" method="POST" action="{{ url_for('admin.add_server') }}" class="form-horizontal span6">
                {{ form.csrf_token }}
                {{ input(form.title) }}
                {{ input(form.url, style="width: 30em") }}
                {{ input(form.username) }}
                {{ input(form.password) }}
                {{ form.next }}
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn btn-small">{{ _('add')}}</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
{%- endmacro %}
