{% extends "base.html" %}

{% block title %} {{_('home')}} {% endblock %}

{% block content %}
<div class="row-fluid">

  <div class="span12">
    <div class="head">
      <h1>{{_('Welcome to GeoBox')}}</h1>
    </div>
    <p>{{_('welcome info text')}} <a href="{{ url_for('static', filename='pdf/usermanual-geobox-client.pdf') }}" target="_blank">{{ _('download usermanual') }}</a></p>
  </div>

  <div class="span12">
    <h2>{{_('import')}}</h2>
    <ul class="nav nav-list">
      <li><a href="{{ url_for('project.import_list') }}">{{ _('import raster') }}</a></li>
      {% if app_state.config.get('app', 'vector_import') %}
        <li><a href="{{ url_for('vector.import_vector') }}">{{ _('import shape') }}</a></li>
        <li><a href="{{ url_for('vector.import_geojson') }}">{{ _('import geojson') }}</a></li>
      {% endif %}
    </ul>
  </div>

  {% if app_state.home_server is not none %}
    <div class="span12">
      <h2>{{_('boxes')}}</h2>
      <ul class="nav nav-list">
        {% if is_consultant %}
        <li><a href="{{ url_for('boxes.files', box_name='file') }}">{{ _('filebox') }}</a></li>
        {% else %}
        <li><a href="{{ url_for('boxes.files', box_name='download') }}">{{ _('downloadbox') }}</a></li>
        <li><a href="{{ url_for('boxes.files', box_name='upload') }}">{{ _('uploadbox') }}</a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <div class="span12">
    <h2>{{_('export')}}</h2>
    <ul class="nav nav-list">
      <li><a href="{{ url_for('project.export_list') }}">{{ _('export raster') }}</a></li>
    </ul>
  </div>

  <div class="span12">
    <h2>{{_('tasks')}}</h2>
    <ul class="nav nav-list">
      <li><a href="{{ url_for('tasks.list') }}">{{ _('tasks') }}</a></li>
      <li><a href="{{ url_for('downloads.download_list') }}">{{ _('downloads') }}</a></li>
    </ul>
  </div>

  <div class="span12">
    <h2>{{_('editor')}}</h2>
    <ul class="nav nav-list">
      <li><a href="{{ url_for('editor_view.editor') }}">{{ _('editor') }}</a></li>
      <li><a href="{{ url_for('editor_view.create_couch_app') }}">{{ _('export editor and data') }}</a></li>
    </ul>
  </div>
  {% if is_local %}
  <div class="span12">
    <h2>{{_('settings')}}</h2>
    <ul class="nav nav-list">
      <li><a href="{{ url_for('raster.raster_list') }}">{{ _('data sources') }}</a></li>
      <li><a href="{{ url_for('admin.admin') }}">{{ _('administation') }}</a></li>
    </ul>
  </div>
  {% endif %}

</div>


{% endblock %}
