{% extends "base.html" %}

{% block title %}{{ _('login') }}{% endblock %}

{% from "form_macros.html" import input %}


{% block content %}

<div id="loginLoadingMsg" class="alert hide">
  <img src="{{ url_for('static', filename='img/loader.gif')}}">
  <span>{{_('context document will be loaded and boxes are copied')}}</span>
</div>

<h1>{{_('login')}}</h1>

<form id="loginForm" method="POST" class="form-horizontal" action="{{ url_for('.login') }}">

  <div class="control-group">
      {{ form.csrf_token }}
      {{ input(form.username, autofocus=True) }}
      {{ input(form.password) }}
      {{ input(form.server_url, style="width: 30em") }}
      <input type=hidden value="{{ next or '' }}" name=next>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-small">{{ _('login') }}</button>
     </div>
  </div>
</form>

{% endblock %}



{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/login.js') }}"></script>
{% endblock %}
