{% macro generate_base_layer(layer) -%}
    {% if layer.view_level_end %}
    var numZoomLevels = {{ layer.view_level_end }} + 1;
    {% else %}
    var numZoomLevels = 18;
    {% endif %}

    var backgroundLayer = new gbi.Layers.WMTS({
        name: '{{ layer.title }}',
        url: '{{ layer.url }}',
        layer: '{{ layer.layer }}',
        format: '{{ layer.format }}',
        background: true,
        // isBaseLayer: true,
        {% if layer.bbox %}
        restrictedExtent: new OpenLayers.Bounds{{ layer.bbox }}
        {% endif %}
    });
{%- endmacro %}

{% macro generate_couch_layers(layers, show_layer='true', hover_popup=False) -%}
    var couchLayers = [];
    {% for layer in layers %}
        couchLayers.push(new gbi.Layers.Couch({
            name: "{{layer.name}}",
            title: "{{layer.title}}",
            url: OpenlayersCouchURL,
            displayInLayerSwitcher: {{ show_layer }},
            createDB: false,
            visibility: false,
            loadStyle: {{ show_layer }},
            {% if hover_popup %}
            hoverPopup: true,
            {% endif %}
            callbacks: {
                changes: function(unsavedChanges) {
                    if(unsavedChanges)
                        $('#save_changes').removeAttr('disabled').addClass('btn-success');
                    else
                        $('#save_changes').attr('disabled', 'disabled').removeClass('btn-success');
                    }
            }
          })
        );
    {% endfor %}
{%- endmacro %}


{% macro generate_temp_vectorlayer(layername, featureCollection) -%}
    var tmp_vectorLayer = new gbi.Layers.Vector({
        name: '{{layername}}',
        displayInLayerSwitcher: true,
        editable: false,
    });

    var featureCollection = {{ featureCollection|tojson|safe }};
    var geojson_format = new OpenLayers.Format.GeoJSON();
    tmp_vectorLayer.addFeatures(geojson_format.read(featureCollection));
{%- endmacro %}


{% macro generate_sources(sources, cache_url=None, coverages=True) -%}
    var raster_sources = {};
    {% for source in sources %}
        {% if source.wmts_source %}
          {# source is local, set map_source to the external #}
          {% set map_source = source.wmts_source %}
          {% set layer_name = source.name %}
        {% else %}
           {% set map_source = source %}
           {% set layer_name = source.layer %}
        {% endif %}

        {% if map_source.source_type == 'wms' and not cache_url %}
           {# use WMS for direct access only (eg. when cache_url is not set) #}
            raster_sources[{{ source.id }}] = new gbi.Layers.WMS({
                name: '{{ map_source.title }}',
                url: '{{ source.url }}',
                params: {
                    layers: '{{ map_source.layer }}'
                },
                format: '{{ map_source.format }}',
                source_id: {{ map_source.id }},
                download_level_start: {{ source.download_level_start }},
                download_level_end: {{ source.download_level_end }}
            });
        {% else %}
            raster_sources[{{ source.id }}] = new gbi.Layers.WMTS({
                name: '{{ map_source.title }}',
                url: {% if source.url %} '{{add_auth_to_url(source.url, source.username, source.password)}}' {% else %} '{{ cache_url }}' {% endif %},
                layer: '{{ layer_name }}',
                format: '{{ map_source.format }}',
                source_id: {{ map_source.id }},
                download_level_start: {{ source.download_level_start }},
                download_level_end: {{ source.download_level_end }}
            });
        {% endif %}

        {% if coverages %}

            // add download coverage as vectorlayer
            raster_sources['{{ map_source.id }}_coverage'] = new gbi.Layers.Vector({
                name: '{{_('download coverage')}} {{ map_source.title }}',
                styleMap: downloadAreaStyleMap,
                displayInLayerSwitcher: true,
                source_id: {{ map_source.id }},
                editable: false,
                clickPopup: false
            });

            var geojson_format = new OpenLayers.Format.GeoJSON();
            {%if map_source.download_coverage %}
              var coverage = {{ map_source.download_coverage|tojson|safe }};
            {% elif map_source.wmts_source and map_source.wmts_source.download_coverage %}
              var coverage = {{ map_source.wmts_source.download_coverage|tojson|safe }};
            {% else %}
              var coverage = false;
            {% endif %}
            if(coverage) {
                raster_sources['{{ map_source.id }}_coverage'].olLayer.addFeatures(geojson_format.read(coverage));
            }
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro generate_wfs_searchlayers(layers) -%}
    var wfsLayers = [];
    {% for layer in layers %}
        wfsLayers.push(new gbi.Layers.WFS({
            "name": "{{ layer.name }}",
            "url": "{{ layer.url }}",
            "featureNS":  "{{ layer.feature_ns }}",
            "featureType": "{{ layer.layer }}",
            "geometryName": "{{ layer.geometry_field }}",
            {% if layer.max_features %}
            "maxFeatures": {{ layer.max_features }},
            {% endif %}
            "typename": '{{ layer.typename }}',
            "styleMap": ro_style_map,
            "writable": false,
            displayInLayerSwitcher: false,
            visibility: false,
            {% if layer.search_property %}
            "searchProperty": '{{ layer.search_property }}',
            {% endif %}
        }));
    {% endfor %}
{%- endmacro %}


{% macro generate_tooltip(content) -%}
    <span class="tooltip_element icon-info-sign" title="{{ content }}"></span>
{%- endmacro %}
