{% macro generate_base_layer(layer) -%}
    var max_extent = new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34);
    {% if layer.view_level_end %}
    var view_zoom_level_end = {{ layer.view_level_end }};
    {% else %}
     var view_zoom_level_end = 18;
    {% endif %}
    var base_layer  = new OpenLayers.Layer.WMTS({
        name: '{{ layer.title }}',
        url: '{{ layer.url }}',
        getURL: tileUrl,
        layer: '{{ layer.layer }}',
        matrixSet: '{{ layer.matrix_set }}',
        format: '{{ layer.format }}',
        style: 'default',
        isBaseLayer: true,
        requestEncoding: 'REST',
        {% if layer.bbox %}
        restrictedExtent: new OpenLayers.Bounds{{ layer.bbox }},
        {% endif %}
        maxExtent: max_extent
    });

    var basic = new OpenLayers.Layer.Image('{{_('white background map')}}',
      '{{ url_for('static', filename='img/blank.gif') }}',
      new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34),
      new OpenLayers.Size(500, 500), {
         maxResolution: 156543.033928
     }
   );

{%- endmacro %}

{% macro generate_sources(sources, cache_url) -%}
    var raster_sources = {};
    {% for source in sources %}
        {% if source.wmts_source %}
          {% set map_source = source.wmts_source %}
          {% set layer_name = source.wmts_source.name %}
        {% else %}
           {% set map_source = source %}
           {% set layer_name = source.layer %}
        {% endif %}
        raster_sources[{{ source.id }}] = new OpenLayers.Layer.WMTS({
            name: '{{ map_source.title }}',
            url: {% if source.url %} '{{add_auth_to_url(source.url, source.username, source.password)}}' {% else %} '{{ cache_url }}' {% endif %},
            getURL: tileUrl,
            layer: '{{ layer_name }}',
            matrixSet: '{{ map_source.matrix_set }}',
            format: '{{ map_source.format }}',
            style: 'default',
            isBaseLayer: false,
            requestEncoding: 'REST',
            download_level_start: {{ source.download_level_start }},
            download_level_end: {{ source.download_level_end }}
        });
    {% endfor %}
{%- endmacro %}


{% macro generate_tooltip(content) -%}
    <span class="tooltip_element">
      <span class="icon-info-sign"></span>
      <span class="tooltip_content">
        {{ content }}
       </span>
    </span>
{%- endmacro %}
