{% extends "base_map.html" %}
{% block title %}{{ _('map and information') }}{% endblock %}

{% block content %}
    <h1>{{_('local maps')}}
      {{ generate_tooltip(_('tooltip - show all imported maps') ) }}
    </h1>
    <div class="map" id='map'></div>
{% endblock %}


{% block map_js %}
    <script type="text/javascript">
        {{ generate_base_layer(base_layer) }}
        {{ generate_sources(sources, cache_url)}}
        var geometries = {{ vector_geometries|tojson|safe }}
        var vectorLayerTitle = "{{ _('vector_layer_title') }}"
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/map.js') }}"></script>
{% endblock %}
