body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.map {
    height: 768px;
}

.olControlLayerSwitcher {
    width: auto;
}

/* Overwrite max-width from bootstrap */
.map img {
    max-width: 512px;
}

#show_zoomlevel {
    position: absolute;
    height: 20px;
    width: 60px;
    text-align: center;
    display: block;
    left: 5px;
    top: 310px;
    background-color: #E8E8E8;
    font-family: Arial;
    font-size: smaller;
}


/* Import Edit */
#sources {
    width: 63%;
}
#from_lvl, #to_lvl {
    width: 16%;
}
.raster_layer {
    padding-left: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px dashed lightgray;
}

.btn#add_layer {
    margin-top: 10px;
}

.raster_sources li, .projects li, .items li {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.projects .ip_title, .projects .ep_title {
    text-align: left;
}

.projects .project_header {
    font-weight: bold;
    text-align: center;
}

.raster_source div, .projects div, .items div {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    vertical-align: top;
    text-align: center;
}

.projects div, .items div {
    width: 150px;
}

.raster_source .rs_zoom_lvl {
    width: 400px;
}

.raster_source .rs_name, .raster_source .rs_layer {
    width: 160px;
}

.project_tasks {
    display: none;
}


.task_item {
    margin: 5px;
}

.task_item.success  {
    background-color: #dff0d8;
}

#update_tiles {
    float: left;
}

.checkbox_label {
    margin-bottom: 20px;
}

/* edit toolbar */
.draw_control_element, .delete_element_control {
    background-repeat: no-repeat;
    margin: 0 0 0 5px;
    width: 24px;
    height: 22px;
    cursor: pointer;
    float:left;
}

.box.deactive {
    background-image: url(../img/draw_rectangle_off.png);
}

.box.active, .box.deactive:hover {
    background-image: url(../img/draw_rectangle_on.png);
}

.multipolygon.deactive {
    background-image: url(../img/draw_polygon_off.png);
}

.multipolygon.active, .multipolygon.deactive:hover {
    background-image: url(../img/draw_polygon_on.png);
}

.modify.deactive {
    background-image: url(../img/remove_point_off.png);
}

.modify.active, .modify.deactive:hover {
    background-image: url(../img/remove_point_on.png);
}

.delete.active, .delete.deactive {
    background-image: url(../img/delete_off.png);
}

.delete.active:hover {
    background-image: url(../img/delete_on.png);
}

.map_tools {
    display: inline-block;
}

.more_map_tools div.tool {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
    width: 220px;
}

div.tool hr {
    margin: 10px 0;
}
.inline {
    display: inline;
}

.task_header {
    font-weight: bold
}

tr.project_overview {
    margin-bottom: 10px;
}

table.task-overview {
    text-align: left;
}

.error_zoomlevel {
    display: none;
    color: red;
    font-weight: bold;
}

.info {
    display: none;
}

.head {
  padding: 20px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.head h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

#log_view {
    max-height: 540px;
}

li.layerElement {
    padding: 10px 10px 10px 0;
}

li.layerElement input {
    margin-right: 5px;
    margin-top: -2px;
}

.controls {
    margin-top: 10px;
}

#measure_toolbar div {
    cursor: pointer;
}

.form-horizontal .controls {
    margin-top: 0;
}

.noUiSlider.horizontal {
    width: 100px;
    margin-top: 14px;
}

.key-label{
    width: 100px;
}

.tab-content {
    overflow: visible;
}

.gbi_widgets_LayerManager {
    position: absolute;
    top: 8px;
    right: 0px;
    background-color: darkblue;
    z-index: 1005;
    color: white;
    padding-left: 15px;
}

.gbi_widgets_LayerManager ul {
    padding: 0px;
    list-style-type: none;
}

.gbi_widgets_LayerManager li {
    list-style-type: none;
    margin-left: -20px;
}